<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>StockOrderBillingSystem</display-name>

    <!-- PlaceOrder Servlet -->
    <servlet>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <servlet-class>com.inventory.controller.PlaceOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <url-pattern>/placeOrder</url-pattern>
    </servlet-mapping>

    <!-- Fetch Stock Options Servlet -->
    <servlet>
        <servlet-name>FetchStockOptionsServlet</servlet-name>
        <servlet-class>com.inventory.controller.FetchStockOptionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FetchStockOptionsServlet</servlet-name>
        <url-pattern>/fetchStockOptions</url-pattern>
    </servlet-mapping>

    <!-- Search Customer Servlet -->
    <servlet>
        <servlet-name>SearchCustomerServlet</servlet-name>
        <servlet-class>com.inventory.controller.SearchCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchCustomerServlet</servlet-name>
        <url-pattern>/searchCustomer</url-pattern>
    </servlet-mapping>

    <!-- Fetch Customer By Email (Optional if used) -->
    <servlet>
        <servlet-name>FetchCustomerServlet</servlet-name>
        <servlet-class>com.inventory.controller.FetchCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FetchCustomerServlet</servlet-name>
        <url-pattern>/fetchCustomer</url-pattern>
    </servlet-mapping>
    
    

    <!-- Welcome page -->
    <welcome-file-list>
        <welcome-file>dashboard.jsp</welcome-file>
    </welcome-file-list>

</web-app>
